html {
    box-sizing: border-box;
}

*,
::before ::after {
    box-sizing: inherit;
}

.body {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-image: url(../images/tlo.jpg);
    background-size: cover;
}